@import url(https://fonts.google.com/specimen/Outfit);



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color:hsl(216, 50%, 16%);
  padding: 15px;
  border-radius: 13px;
  max-width: 300px;
}

.card-top {
  width: 100%;
  margin-bottom: 16px;
}

.card-top img {
  width: 100%;
  border-radius: 16px;

}
.card-top img:hover{
  /* background-color:hsl(178, 100%, 50%) ; */
  cursor:pointer;
 
  filter: brightness(250%);

}

.card-desc  h3{
  margin-bottom: 16px;
  color:white;
}

.card-desc h3:hover{
color: hsl(178, 100%, 50%) ;
cursor:pointer;

}

#text-2{
  line-height:1.5em;
 margin-bottom: 16px;
 color:  hsl(215, 32%, 77%);
}

.details {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.price img {
  margin-right: 10px;
}


.price p{
  color: hsl(178, 100%, 50%);
}

.duration{
  display: flex;
  align-items: center;
  margin-bottom: 16px; 
}

.duration img{
  margin-right: 10px;
}

.duration p{
  color:hsl(215, 32%, 77%) ;
}
#line-divider{
  border-bottom: 1px solid hsl(215, 32%, 77%)  ;
}
.author-desc{
  display:flex;
  align-items: center;
  margin-top: 10px;
}

.author-desc img{
  width:32px;
  height:32px;
  margin-right: 16px;
}

.author-desc p{
  color:hsl(215, 32%, 77%)  ;
}
.author-name{
  color: white;
  text-decoration: none;

}
.author-name:hover{
color: hsl(178, 100%, 50%);
}