* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(218, 18%, 12%);
    width: 30%;
    min-width: 305px;
    max-width: 375px;
    border-radius: 20px;
    padding: 2em;
  }

  .thank-you-illustration{
    margin-bottom: 1em;
  }

  .rating-box{
    width: 70%;
    padding: .5em;
    background-color: hsl(218, 18%, 15%);
    border-radius: 30px;
    color:  hsl(25, 97%, 53%);
    margin-bottom: 1em;
    
   
  }

  .rating-box p{
    text-align: center;
  }

  .rating-text {
    line-height: 1.5em;
    margin-bottom: 1em;
    align-self: center;
    text-align: center;
  }
  
  .rating-text p:nth-child(1) {
    font-size: 24px;
    padding-bottom: 0.5em;
    font-weight: 700;
    color: white;
  }
  
  .rating-text p:nth-child(2) {
    color: hsl(216, 12%, 54%);
    font-weight: 400;
    font-size: 15px;
  }